name: Pre-deployment Validations

on:
  workflow_call:

jobs:
  eslint:
    name: Lint JS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Configure NPM
        run: |
          npm ci
          npm run lint

  spectral:
    name: Lint OpenAPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Lint OpenAPI
        run: |
          npm install -g @stoplight/spectral-cli
          spectral lint schemas/openapi.yaml

  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Unit Tests
        run: |
          npm ci
          npm run coverage
      - name: Upload coverage report
        uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: |
            coverage/
          retention-days: 14

  sonarqube:
    needs: [unit-tests]
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Download coverage report
        uses: actions/download-artifact@v6
        with:
          name: coverage-report
          path: coverage
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}